# Ignore everything by default
*

# But track these specific files
!.gitignore

# Track nso/ folder (all contents)
!nso/
!nso/**

# Track specific plugins
!plugins/
!plugins/cocktail-images/
!plugins/cocktail-images/**
!plugins/drinks-plugin/
!plugins/drinks-plugin/**


# Track build folder
!plugins/drinks-plugin/build/
!plugins/drinks-plugin/build/**



# Also track the .gitignore file itself
!.gitignore
