# Ignore everything by default
*

# But track these specific files
!.gitignore

# Track nso/ folder (all contents)
!nso/
!nso/**

# Track specific plugins
!plugins/
!plugins/cocktail-images/
!plugins/cocktail-images/**
!plugins/drinks-plugin/
!plugins/drinks-plugin/**
!plugins/copyright-date-block/
!plugins/copyright-date-block/**
!plugins/home-button/
!plugins/home-button/**

# Track build folder specifically
!plugins/drinks-plugin/build/
!plugins/drinks-plugin/build/**

# Track theme files
!themes/
!themes/uc-theme-ui/
!themes/uc-theme-ui/**

# un-ignore first 
!.vscode/
# optionally re-ignore
.vscode/*
# finally include launch.json
!.vscode/launch.json